my_work
wham/my_work
FrenkelSmitCodes/Exercises/ewald/Run/ewald
FrenkelSmitCodes/Exercises/ewald/Run/ewald-l
FrenkelSmitCodes/Exercises/ewald/Run/fort.21
FrenkelSmitCodes/Exercises/ewald/Run/fort.22
FrenkelSmitCodes/Exercises/ewald/Run/out
FrenkelSmitCodes/Exercises/ewald/Source/dderfc.o
FrenkelSmitCodes/Exercises/ewald/Source/ewald.o
FrenkelSmitCodes/Exercises/ewald/Source/fourierspace.o
FrenkelSmitCodes/Exercises/ewald/Source/lattice.o
FrenkelSmitCodes/Exercises/ewald/Source/realspace.o
